@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --ff-primary : "Montserrat", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-regular: 300;
  --fw-bold: 900;

  --clr-light: #F8FAFC;
  --clr-dark: #181818;
  --clr-accent: #659FC6;

  --fs-h1: 3.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

/* html {
  color-scheme: dark;
} */

img,svg {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.5;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (min-height: 800px) {
  :root {
  
  }
}

