@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --ff-primary : "Montserrat", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --fw-regular: 300;
  --fw-bold: 900;

  --clr-light: #F8FAFC;
  --clr-dark: #181818;
  --clr-accent: #659FC6;

  --fs-h1: 3.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


img,svg {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style: none;
  font-size: var(--fs-h3);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.5;
}

header {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 50rem;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list  {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (min-height: 800px) {
  :root {
    body {
      --fs-h1: 3rem;
      --fs-h2: 1.75rem;
      --fs-h3: 1.25rem;
      --fs-h4: 1rem;
    }
  }
}

@media (min-width: 375px) {
  main {
    padding: 0 2.5rem;
  }
}

@media (max-width: 440px) {
  main {
    padding: 0 2.5rem;
  }
  
  .nav-list {
    flex-direction: column;
    gap: 1rem;
  }
}


